<section class="sidebar">

<div class="brand-name">
    <h4>𝑇𝑖𝑚𝑒𝑀𝑎𝑛𝑎𝑔𝑒𝑟</h4>
</div>

 <hr style="height:5px;background-color:white">

<div class="brand-profile">
    <img src="../../assets/a.jpg" alt="" >
    <div class="brand-sous-profile">
        <h5 class="">fouad test</h5>
        <em >level: 5</em> <br>
        <em>online: <i class="fa fa-circle text-success" aria-hidden="true"></i></em>
    </div>
</div>

<hr style="height:5px;background-color:white">


<ul class="sidebar-items">
    <li class="sidebar-item">
        <div>
            <i class="fa fa-home" aria-hidden="true"></i>
        <span>Dashbord</span>
        </div>
    </li>
    <li class="sidebar-item">
        <div>
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span>Statistics</span>
        </div>
    </li>
    <li class="sidebar-item">
        <div>
           <i class="fa fa-users" aria-hidden="true"></i>
        <span>Reseaux</span>
        </div>
    </li>
    <li class="sidebar-item">
       <div>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span>Account</span>
       </div>
    </li>
   
</ul>

<div class="sidebar-signout">
<div>
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <span>Signout</span>
</div>
</div>


</section>