header.header {

    position: relative;
    background-color: white;
    border-radius: 5px;
    height: 55px;

}

h4.brand {
    position: relative;
    top: 8px;
    left: 15px;
}

nav.navbar {

    display: flex;
    position: relative;
    flex-direction:row-reverse;
    justify-content:flex-start;
}


